
p {
  margin: 0;
}

.row {
  margin: 0;
}

.articles {
  margin-top: 50px;
  margin-bottom: 30px;
}

.article {
  color: #222;
  background: rgba(255,255,255,.9);
  border-spacing: 2px;
  border-color: gray;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  border-bottom: 1px #e5e5e5 solid;
  vertical-align:middle;
}

.current .item {
  background: rgba(206,220,206,.9);
}

.item {
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 7px;
  
}

.item .source {
  margin-left: 20px;
}

.item .title {
  font-weight: bold;
}

.item .pubdate {
  margin-right: 20px;
}

.item .pubdate {
  text-align: right;  
}

.description {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.description h1 {
  margin-top: 0px;
}

