
p {
  margin: 0;
}




.row {
  margin: 0;
}

.article {
  color: #ffffff;
  background: rgba(255,255,255,0.2);
  border-spacing: 2px;
  border-color: rgba(255,255,255,0.15);
  font-family: 'Palanquin', sans-serif;
  border-bottom: 3px #e5e5e5 solid;
  overflow:hidden;
  
}

.current .item {
  color: #202020;
  background: rgba(255,255,255,0.70);
}

.item {
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 7px;
  
}

.item .source {
  margin-left: 20px;
}

.item .title {
  font-weight: bold;
}

.item .pubdate {
  margin-right: 20px;
}

.item .pubdate {
  text-align: right;  
}

.description {
  top:calc(50% - 15px);
  line-height:180%;
  color:#ffffff;
  font-family: 'Palanquin', sans-serif;
  font-size:100%;
  text-decoration:none;
  display: none;
  padding-top: 2%;
  padding-bottom: 1%;
  
}

.description h1 {
  margin-top: 0px;
}

@media only screen and (min-width: 200px) {
.articles {
  margin-top: 8.5px;
  margin-bottom: 5px;
}

.article {
  font-size: 25.5%;
  line-height:19%;
  overflow:hidden;  
}
div .img
{
    padding:0px;
    margin:0px;
    height: 6.8px;
}
.cc1
{
   padding-top:9px;
}
}

@media only screen and (min-width: 300px) {
.articles {
  margin-top: 13px;
  margin-bottom: 8px;
}

.article {
  font-size: 39%;
  line-height:29%;
  overflow:hidden;  
}
div .img
{
    padding:0px;
    margin:0px;
    height: 10.4px;
}
.cc1
{
   padding-top:13.5px;
}
}

@media only screen and (min-width: 768px) {
.articles {
  margin-top: 33px;
  margin-bottom: 20px;
}

.article {
  font-size: 99%;
  line-height:73%;
  overflow:hidden;  
}
div .img
{
    padding:0px;
    margin:0px;
    height: 26.4px;
}
.cc1
{
   padding-top:34px;
}
}

@media only screen and (min-width: 1170px) {
.articles {
  margin-top: 50px;
  margin-bottom: 30px;
}

.article {
  font-size: 150%;
  overflow:hidden;  
}

div .img
{
    padding:0px;
    margin:0px;
    height: 40px;
}

.cc1
{
   padding-top:52px;
}

}
